__pycache__
*.pyc
*.pyo
*.pyd
.env
.git
.gitignore
tests/
.pytest_chace/
*.md
.env.*
README*

Dockerfile
.dockerignore
*.log
*.tmp
*.bak

.vscode/
.idea/

.coverage
htmlcov/

dist/
build/
*.egg-info

node_modules/
*.json